@font-face {
    font-family: "Helvetica-light";
    src: local("HelveticaNeueCyr-Light"), local("HelveticaNeueCyr Light"), url(../fonts/HelveticaNeueCyr-Light.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Roman";
    src: local("HelveticaNeueCyr-Roman"), local("HelveticaNeueCyr Roman"), url(../fonts/HelveticaNeueCyr-Roman.otf);
    font-weight: normal;
    font-style: normal;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    position: relative;
    font-family: "Helvetica-light", arial, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 300;
}

/*Шапка сайта*/

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
}

.logo{
    font-family: "Helvetica-Roman";
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
}

.menu-button{
    height: 16px;
    width: 16px;
    padding-top: 5px;
}

.open{
    margin-top: 5px;
    height: 16px;
    width: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.escape{
    height: 22px;
    width: 22px;
    position: relative;
}

.button-line{
    height: 2px;
    width: 100%;
    background-color: #000000;
}

.button-line-escape{
    top: 10px;
    right: -2px;
    height: 2px;
    width: 21px;
    background-color: #000000;
    transform: rotate(45deg);
    position: absolute;
}

.button-line-escape:first-child{
    transform: rotate(135deg)
}

.hide{
    display: none;
}

.header-menu-list{
    background-color: #ffffff;
    position: absolute;
    top: 97px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 18px;
    font-weight: 300;
    z-index: 2;
    text-align: center;
}

.header-menu-list-hide{
    display: none;
}

.header-menu-list-item:nth-child(n+2){
    margin-top: 38px;
}

/*Контентная часть*/

.main-container{
    padding-left: 20px;
    padding-right: 20px;
}

.main-title{
    padding-top: 57px;
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    line-height: 108.6%;
    padding-bottom: 35px;
}

.categories{
    display: flex;
    justify-content: center;
    max-width: 650px;
    width: 100%;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.category{
    border-radius: 4px;
    background-color: #F7F7F7;
    min-width: 87px;
    width: 100%;
    max-width: 202px;
    margin-left: 10px;
    height: 46px;
    display: flex;
}

.category:first-child{
    margin-left: 0;
}
.category-active{
    background-color: #AEAEAE;
}

.category-link{
    margin: auto;
}

.category-link-active{
    color: #ffffff;
}

.article-container{
    padding-top: 47px;
    display: none;
}

.article-container-active{
    display: block;
}

.section-title{
    display: none;
}

.article-card{
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 22px;
}

.article-hide{
    display: none;
}

.treadmill{
   height: 364px;
   max-width: 696px;
}

.injury{
    height: 223px;
    max-width: 925px;
}

.feet{
    height: 280px;
    max-width: 962px;
}

.article-image{
    width: 100%;
    object-fit: cover;
    height: inherit;
}

.article-content{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    color: #ffffff;
    z-index: 1;
    background: linear-gradient(0deg, #AEAEAE 32.91%, rgba(174, 174, 174, 0) 100.12%);
}

.article-catigory{
    line-height: 17px;
}

.article-title{
    font-size: 22px;
    line-height: 105.1%;
    margin-top: 44px;
}

.article-link-container{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    width: 100%;
    max-width: 150px;
    height: 36px;

    display: none;
}

.article-link{
    font-size: 18px;
    margin: auto;
    color: #ffffff;
}

.main-button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 53px;
    display: flex;
    width: 205px;
    height: 46px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;   
}

.main-button-link{
    margin: auto;
    font-size: 18px;
}

.button:hover{
    opacity: 0.7;
    transition: 0.2s linear;
}

/*Подвал сайта*/

.footer{
    padding-top: 108px;
    padding-bottom: 35px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-image{
    display: block;
    width: 100%;
}

@media (min-width: 641px) and (max-width: 960px) {

    /*Шапка сайта*/

    .header{
        padding-top: 30px;
    }

    .menu-button{
        height: 18px;
        width: 18px;
    }

    /*Контентная часть*/

    .main-container{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .main-title{
        padding-top: 43px;
        font-size: 39px;
        padding-bottom: 76px;
    }

    .main-menu{
        margin-left: 10px;
        margin-right: 10px;
    }

    .category{
        margin-left: 22px;
    }
    
    .article-container{
        padding-top: 64px;
    }

    .article-container-active{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .article-card{
        margin-left: 10px;
        margin-right: 10px;
    }

    .treadmill{
        min-width: 375px;
        width: 100%;
        flex-basis: 502px;
        flex-grow: 1;
        height: 364px; 
     }
     
     .injury{
        min-width: 181px;
        width: 100%;
        flex-grow: 1;
        flex-basis: 201px;
        height: 364px;
     }
     
     .feet{
        min-width: 226px;
        width: 100%;
        flex-basis: 350px;
        flex-grow: 1;
        height: 364px;
     }
    
    .article-title{
        font-size: 22px;
        line-height: 105.1%;
        margin-top: 44px;
    }

    .main-button{
        margin-bottom: 113px;
    }
    
    /*Подвал сайта*/

    .footer{
        padding-top: 113px;
        padding-bottom: 43px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .footer-image{
        display: block;
        width: 100%;
    }
}

@media (min-width: 961px) {

    /*Шапка сайта*/

    .header{
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 30px;
    }
    
    .menu-button{
        display: none;
    }

    .header-menu{
        display: flex;
    }

    .header-menu-list{
        background: none;
        position: static;
        display: flex;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .header-menu-list-item{
        margin-left: 30px;
    }

    .header-menu-list-item:nth-child(n+2){
        margin-top: 0;
    }

    /*Контентная часть*/

    .main-container{
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .main-title{
        max-width: 100%;
        font-size: 39px;
        padding-bottom: 68px;
    }
    
    .article-container{
        padding-top: 55px;
    }

    .article-container-active{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .article-card{
        margin-left: 10px;
        margin-right: 10px;
    }

    .treadmill{
        min-width: 375px;
        width: 100%;
        flex-basis: 375px;
        flex-grow: 1;
        height: 364px; 
     }
     
     .injury{
        min-width: 181px;
        width: 100%;
        flex-grow: 1;
        flex-basis: 201px;
        height: 364px;
     }
     
     .feet{
        min-width: 226px;
        width: 100%;
        flex-basis: 226px;
        flex-grow: 1;
        height: 364px;
     }

    .article-content{
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding-left: 30px;
        padding-bottom: 30px;
        padding-right: 30px;
        color: #ffffff;
        z-index: 1;
        background: linear-gradient(0deg, #AEAEAE 32.91%, rgba(174, 174, 174, 0) 100.12%);
    }
    
    .article-catigory{
        line-height: 17px;
    }
    
    .article-title{
        font-size: 22px;
        line-height: 105.1%;
        margin-top: 44px;
    }
    
    .main-button{
        margin-top: 60px;
    }

    /*Подвал сайта*/

    .footer{
        margin-left: auto;
        margin-right: auto;
        max-width: 1240px;
        padding-top: 140px;
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .footer-image{
        display: block;
        width: 100%;
    }

}